<?xml version="1.0" encoding="utf-8"?>
<!--
Social Distance Meter - An app to analyze and rate your social distancing behavior
Copyright (C) 2020  Mirko Hansen (baaazen@gmail.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mhid.opensource.socialdistancemeter">
    <!-- required for continuous background scanning -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- required for getting location and BLE token in background -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- required for BLE scanner -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- required for startup BLE scanner on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- required to download diagnosis keys -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- required to check if national warn app is installed -->
    <queries>
        <package android:name="de.rki.coronawarnapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialDistanceMeter">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.SocialDistanceMeter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/menu_main_settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mhid.opensource.socialdistancemeter.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.SocialDistanceMeter.MarkdownActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mhid.opensource.socialdistancemeter.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MarkdownActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.SocialDistanceMeter.MarkdownActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mhid.opensource.socialdistancemeter.activity.MainActivity" />
        </activity>

        <receiver android:name=".services.Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BleScanService"
            android:foregroundServiceType="location" />
        <service android:name=".services.DiagKeySyncService" />
    </application>

</manifest>